.categories-list {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
  font-size: 100%
}
.post-category,
.post-tag {
  display: inline-block;
  background: rgba(106, 159, 181, 0.15);
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 90%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out
}
.post-date {
  display: inline;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 90%;
}
.post-article {
  margin-top: 1.0rem;
}
.img-caption {
  text-align: center;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.highlight {
  white-space: pre;
  overflow: auto;
  font-size: 0.7rem;
}
code {
  font-size: 80%;
  padding: 0.25em;
}
#markdown-toc li {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
